.help {
    @include blockSizes(100%, 611px);
    .help_wrapper {
        p {
            margin: 0;
        }
        @include blockSizes(1200px/1280px*100%, 431px/611px*100%);
        margin: 0 auto;
        margin-top: 80px / 1280px * 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .help_wrapper__tittle {
            @include fontStyle($ffl-G, normal, 400, 35px, 130%, 0.06em, #545454);
            text-align: center;
        }
        .help_wrapper__content {
            @include blockSizes(1026px/1200px*100%, 281px/431px*100%);
            @include fontStyle($ffl-G, normal, 400, 20px, 115%, 0.06em, #545454);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .help_content__item {
                @include blockSizes(auto, 113px);
                // text-align: end;
                margin-right: 120px;
            }
            @each $img in 1, 2, 3, 4, 5, 6, 7, 8, 9 {
                .help_img_#{$img} {
                  background: url('../assets/img_#{$img}.svg') no-repeat;
                }
            } 
            
        }
    }
    
}