.help {
  @include blockSizes(inherit, 611px);
  display: flex;
  justify-content: center;
  .help_wrapper {
    p {
      margin: 0;
    }
    @include blockSizes(1200px/1280px * 100%, 431px/611px * 100%);
    margin-top: 80px / 1280px * 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .help_wrapper__tittle {
      @include fontStyle($ffl-G, normal, 400, 35px, 130%, 0.06em, #545454);
      text-align: center;
      margin-left: 2px;
      margin-top: 1px;
      @media screen and (max-width: 700px) {
        @include fontStyle($ffl-G, normal, 400, 25px, 130%, 0.06em, #545454);
      }
    }
    .help_wrapper__content {
      @include blockSizes(1146px/1200px * 100%, 281px/431px * 100%);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: space-between;
      .help_content__item {
        @include blockSizes(auto, 113px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        align-items: center;
        margin-left: 60px / 1146px * 100%;
        margin-right: 60px / 1146px * 100%;

        img {
          @media screen and (max-width: 700px) {
            width: 50px;
            height: 50px;
          }
        }
        .help_content__text {
          @include fontStyle($ffl-G, normal, 400, 20px, 23px, 0.06em, #545454);
          text-overflow: hidden;
          white-space: nowrap;
          text-align: center;
          @media screen and (max-width: 700px) {
            @include fontStyle(
              $ffl-G,
              normal,
              400,
              15px,
              110%,
              0.06em,
              #545454
            );
          }
        }
        @media screen and (max-width: 1279px) {
          width: 157px;
        }
        @media screen and (max-width: 700px) {
          width: 90px;
          height: 90px;
        }
      }
      .help_img_1 {
        & > p {
          width: 82px;
        }
      }
      .help_img_2 {
        & > p {
          width: 150px;
        }
        & > img {
          margin-right: 2px;
        }
      }
      .help_img_3 {
        & > p {
          width: 60px;
        }
      }
      .help_img_4 {
        & > p {
          width: 153px;
        }
        & > img {
          margin-top: 2px;
          margin-left: 2px;
          @media screen and (max-width: 1279px) {
            margin-left: 0;
          }
        }
      }
      .help_img_5 {
        & > p {
          width: 101px;
        }
        & > img {
          margin-right: 2px;
          margin-left: 2px;
          @media screen and (max-width: 1279px) {
            margin-left: 0;
          }
        }
      }
      .help_img_6 {
        & > p {
          width: 89px;
        }
        & > img {
          margin-top: 3px;
          margin-right: 2px;
          @media screen and (max-width: 1279px) {
            margin-right: 0;
          }
        }
      }
      .help_img_7 {
        & > p {
          width: 101px;
        }
      }
      .help_img_8 {
        & > p {
          width: 165px;
        }
        & > img {
          margin-top: 4px;
          margin-left: 2px;
          @media screen and (max-width: 1279px) {
            margin-left: 0;
          }
        }
      }
      .help_img_9 {
        & > p {
          width: 143px;
        }
        & > img {
          margin-left: 3px;
          @media screen and (max-width: 1279px) {
            margin-left: 0;
          }
        }
      }
      @media screen and (max-width: 1279px) {
        height: 449px;
        width: 698px;
      }
      @media screen and (max-width: 700px) {
        height: 590px;
        width: 280px;
        margin-top: 42px;
        justify-content: space-between;
      }
    }
    @media screen and (max-width: 1279px) {
      height: 599px;
      margin-top: 80px;
    }
    @media screen and (max-width: 700px) {
      height: 662px;
      margin-top: 40px;
    }
  }
  @media screen and (max-width: 1279px) {
    height: 779px;
  }
  @media screen and (max-width: 700px) {
    height: 745px;
  }
}
