.pets {
  @include blockSizes(inherit, 877px);
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-around;
  .pets_wrapper {
    @include blockSizes(1200px / 1280px * 100%, 697px / 877px * 100%);
    margin-top: 80px / 1280px * 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .pets_wrapper__heading {
      @include fontStyle($ffl-G, normal, 400, 35px, 130%, 0.06em, #545454);
      margin: 1px 0 0 2px;
      text-align: center;
      @media screen and (max-width: 767px) {
        @include fontStyle($ffl-G, normal, 400, 25px, 130%, 0.06em, #545454);
      }
    }
    .pets_wrapper__main {
      @include blockSizes(100%, 62.412%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .pets_btn {
        @include blockSizes(52px, 52px);
        border: 2px solid #f1cdb3;
        border-radius: 100px;
        background-color: #f6f6f6;
        &:hover {
          cursor: pointer;
          background-color: #fddcc4;
          border: none;
        }
      }
      .pets_btn__left {
        background: url("../../assets/images/Arrow_left.png") no-repeat;
        background-position: center;
        @media screen and (max-width: 767px) {
          order: 1;
          margin: 0 40px;
        }
      }
      .pets_btn__rigth {
        background: url("../../assets/images/Arrow_right.png") no-repeat;
        background-position: center;
        @media screen and (max-width: 767px) {
          order: 2;
          margin: 0 40px;
        }
      }
      .pets_cards {
        @include blockSizes(990px / 1200px * 100%, 100%);
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        column-gap: 90px;
        .pets_cards__item {
          @include blockSizes(270px, 435px / 435px * 100%);
          background-color: #fafafa;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          transition: 0.5s; // not working ! ! ! !
          .pets_card__img {
            margin-top: 0;
            @include blockSizes(270px);
          }
          .pets_card__text {
            margin: 0;
            @include fontStyle(
              $ffl-G,
              normal,
              400,
              20px,
              23px,
              0.06em,
              #545454
            );
            margin-left: 1px;
          }
          .pets_card__btn {
            @include blockSizes(187px, 52px);
            border: 2px solid #f1cdb3;
            border-radius: 100px;
            @include fontStyle(
              $ffl-G,
              normal,
              400,
              17px,
              130%,
              0.06em,
              #292929
            );
            background-color: #fafafa;
            margin-bottom: 30px;
            &:hover {
              cursor: pointer;
              background-color: #fddcc4;
              border: none;
            }
          }
          &:hover {
            cursor: pointer;
            background-color: #ffffff;
          }
          @media screen and (max-width: 1279px) {
            &:last-child {
              display: none;
            }
          }
          @media screen and (max-width: 767px) {
            &:nth-child(2) {
              display: none;
            }
          }
        }
        @media screen and (max-width: 1279px) {
          width: 580px;
          margin-top: -1px;
          column-gap: 40px;
        }
        @media screen and (max-width: 767px) {
          width: 300px;
          height: 435px;
          margin-top: -1px;
          justify-content: flex-start;
          // column-gap: 10px;
          margin-left: 25px;
        }
      }
      @media screen and (max-width: 1279px) {
        width: 708px;
      }
      @media screen and (max-width: 767px) {
        width: 320px;
        height: 507px;
        flex-wrap: wrap;
        justify-content: center;

        align-content: space-between;
      }
    }

    .pets_wrapper__btn {
      @include blockSizes(261px, 52px);
      @include fontStyle($ffl-G, normal, 400, 17px, 130%, 0.06em, #292929);
      margin-left: 1px;
      @extend %big_btn;
    }
    @media screen and (max-width: 1279px) {
      margin-top: 80px;
    }
    @media screen and (max-width: 767px) {
      margin-top: 42px;
      height: 707px;
    }
  }
  @media screen and (max-width: 767px) {
    height: 791px;
  }
}
