@import '~normalize.css';

$ffl-G: Georgia, 'Times New Roman', Times, serif;
$ffl-A: Arial, Helvetica, sans-serif;

@mixin fontStyle($ff, $fstl, $fw, $fsz, $lht, $lsp: normal, $clr: #CDCDCD) {
    font-family: $ff;
    font-style: $fstl;
    font-weight: $fw;
    font-size: $fsz;
    line-height: $lht;
    letter-spacing: $lsp;
    color: $clr;
}

@mixin blockSizes($w: inherit, $h: auto) {
    width: $w;
    height: $h;
}
body {
    @include blockSizes(1280px);
    margin: 0 auto;
}
header {
    @include blockSizes(93.75%, 60px);
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        z-index: 1000;
        @include blockSizes(186px, 60px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        >p {
            padding: 0;
            margin: 0;
        }
        .logo_title {
            @include fontStyle($ffl-G, normal, 400, 32px, 113%, 0.06em, #F1CDB3)
        }
        .logo_subtitle {
            margin-left: 2px;
            @include fontStyle($ffl-A, normal, 400, 13px, 15px, 0.1em, #FFFFFF)
        }
    }
    .nav_menu {
        z-index: 1000;
        @include blockSizes(443px);
        @include fontStyle($ffl-A, normal, 400, 15px, 24px);
        margin-bottom: 5px;
        .active {
            color: #FAFAFA;
            border-bottom: 3px solid #F1CDB3;
            padding-top: 3px;
        }
        a {
            color: #CDCDCD;
            text-decoration: none;
            &:hover {
                color: #FAFAFA;
            }
        }
        >ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    
}

main {
    @include blockSizes(inherit, 908px);
    background: url('../../assets/start-screen-gradient-background.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    position: absolute;
    top: 0;
    .main_wrapper {
        @include blockSizes(93.75%, 728px / 908px * 100%);
        margin: 0 auto;
        padding-top: 180px;
        display: flex;
        justify-content: space-between;
        .main_wrapper__content {
            @include blockSizes(460px / 1200px * 100%, 321px / 728px * 100%);
            margin-top: 13.7%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            >p {
                margin: 0;
            }
            .content_heading {
                @include fontStyle($ffl-G, normal, 400, 44px, 130%, normal, #FFFFFF)
            }
            .content_subheading {
                margin-bottom: 1px;
                @include fontStyle($ffl-A, normal, 400, 15px, 160%, normal)
            }
            button {
                display: flex;
                @include blockSizes(207px, 52px);
                @include fontStyle($ffl-G, normal, 400, 17px, 130%, 0.06em, #292929);
                background-color: #F1CDB3;
                border: 2px solid #F1CDB3;
                border-radius: 100px;
                margin-bottom: 1px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &:hover {
                    cursor: pointer;
                    background-color: #FFFFFF;
                    border: 2px solid #F1CDB3;
                }
            }
        }
    }

    .main_wrapper__img {
        @include blockSizes(698px / 1200px * 100%, 100%);
        background: url('../../assets/start-screen-puppy.png');
    }
}