body {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.header {
  @include blockSizes(inherit, 120px);
  position: relative;
  &__wrapper {
    @include blockSizes(1200px, 60px);
    top: 0;
    z-index: 1001;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      z-index: 1001;
      @include blockSizes(186px, 60px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      > a {
        text-decoration: none;
      }
      > p,
      h1 {
        padding: 0;
        margin: 0;
      }
      &_title {
        @include fontStyle($ffl-G, normal, 400, 32px, 113%, 0.06em, #545454);
      }
      &_subtitle {
        margin-left: 2px;
        @include fontStyle($ffl-A, normal, 400, 13px, 15px, 0.1em, #292929);
        @media screen and (max-width: 767px) {
          margin-top: 9px;
          margin-left: 5px;
        }
      }
      &_title-burger {
        color: #f1cdb3;
      }
      &_subtitle-burger {
        color: #ffffff;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .nav_menu {
      z-index: 1000;
      @include blockSizes(443px);
      @include fontStyle($ffl-A, normal, 400, 15px, 24px);
      margin-bottom: 5px;
      .active {
        & > a {
          color: #545454;
        }
        border-bottom: 3px solid #f1cdb3;
        padding-top: 3px;
      }
      a {
        color: #545454;
        text-decoration: none;
        &:hover {
          color: #292929;
        }
      }
      > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 767px) {
          .active {
            & > a {
              color: #fafafa;
            }
            border-bottom: 3px solid #f1cdb3;
            padding-top: 3px;
          }
          a {
            color: #cdcdcd;
            text-decoration: none;
            &:hover {
              color: #fafafa;
            }
          }
          @include blockSizes(243px, 327px);
          margin-top: 248px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
        }
        & li:nth-child(3),
        li:nth-child(4) {
          a {
            pointer-events: none;
          }
        }
      }
      @media screen and (max-width: 767px) {
        @include fontStyle($ffl-A, normal, 400, 32px, 160%);
        @include blockSizes(320px, 100%);
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        right: -320px;
        background-color: #292929;
        transition: right 0.7s;
        &__burger {
          position: fixed;
          right: 0;
        }
      }
    }
    .burger {
      span {
        background-color: #000000;
      }
    }
    .burger-turn {
      span {
        background-color: #f1cdb3;
      }
    }
    @media screen and (max-width: 1279px) {
      @include blockSizes(708px, 60px);
      padding-top: 30px;
    }
    @media screen and (max-width: 767px) {
      margin: 0 auto;
      @include blockSizes(257px, 60px);
      overflow: hidden;
      position: relative;
      left: -22px;
      transition: left 0.7s ease-out;
      &-burger {
        left: calc(50% - 180px);
        justify-content: FLEX-START;
        column-gap: 39px;
      }
    }
  }
}
