body {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
header {
  @include blockSizes(93.75%, 120px);
  top: 0;
  z-index: 1001;
  margin: 0 auto;
  // padding-top: 60px/1280px * 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    z-index: 1000;
    @include blockSizes(186px, 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    > p,
    h1 {
      padding: 0;
      margin: 0;
    }
    .logo_title {
      @include fontStyle($ffl-G, normal, 400, 32px, 113%, 0.06em, #545454);
    }
    .logo_subtitle {
      margin-left: 2px;
      @include fontStyle($ffl-A, normal, 400, 13px, 15px, 0.1em, #292929);
    }
  }
  .nav_menu {
    z-index: 1000;
    @include blockSizes(443px);
    @include fontStyle($ffl-A, normal, 400, 15px, 24px);
    margin-bottom: 5px;
    .active {
      & > a {
        color: #545454;
      }
      border-bottom: 3px solid #f1cdb3;
      padding-top: 3px;
    }
    a {
      color: #292929;
      text-decoration: none;
      &:hover {
        color: #545454;
      }
    }
    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @media screen and (max-width: 707px) {
      display: none;
    }
  }
  .burger {
    @include blockSizes(30px, 22px);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2px;
    span {
      display: block;
      @include blockSizes(100%, 2px);
      background-color: #f1cdb3;
    }
    @media screen and (max-width: 707px) {
      display: flex;
    }
  }
  @media screen and (max-width: 855px) {
    padding-top: 30px;
    width: 708px;
  }
  @media screen and (max-width: 707px) {
    margin: 0;
    @include blockSizes(257px, 60px);
    padding-left: 10px;
  }
}
