.our-friends {
  h3,
  p {
    margin: 0;
  }
  @include blockSizes(inherit, 1342px);
  position: relative;
  top: 120px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  .our-friends_wrapper {
    @include blockSizes(1200px, 1162px);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .our-friend__wrapper_title {
      @include blockSizes(400px, 90px);
      @include fontStyle($ffl-G, normal, 400, 35px, 130%, 0.06em, #545454);
      text-align: center;
      margin-left: 3px;
      @media screen and (max-width: 1279px) {
        margin-top: 20px;
      }
      @media screen and (max-width: 767px) {
        @include blockSizes(320px, 90px);
        @include fontStyle($ffl-G, normal, 400, 25px, 130%, 0.06em, #545454);
      }
    }
    .pets_cards {
      @include blockSizes(100%, 930px);
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      transition: opacity 0.4s;
      opacity: 1;
      &__item {
        @include blockSizes(270px, 435px);
        background-color: #fafafa;
        margin-top: 15px;
        .pets_card__text {
          @include fontStyle(
            $ffl-G,
            normal,
            400,
            20px,
            22.72px,
            0.06em,
            #545454
          );
          text-align: center;
          margin-top: 26px;
          margin-left: 3px;
        }
        .pets_card__btn {
          @include blockSizes(187px, 52px);
          border: 2px solid #f1cdb3;
          border-radius: 100px;
          @include fontStyle($ffl-G, normal, 400, 17px, 130%, 0.06em, #292929);
          background-color: #fafafa;
          margin-top: 31px;
          margin-left: 42px;
          &:hover {
            cursor: pointer;
            background-color: #fddcc4;
            border: none;
          }
          &:focus {
            outline: none;
          }
        }
        &:hover {
          cursor: pointer;
          background-color: #ffffff;
        }
        @media screen and (max-width: 1279px) {
          margin-top: 30px;
        }
      }
      @media screen and (max-width: 1279px) {
        @include blockSizes(580px, 1422px);
        margin-top: -13px;
      }
      @media screen and (max-width: 767px) {
        @include blockSizes(270px, 1425px);
        margin-top: -26px;
      }
    }
    .our-friend__wrapper_controls {
      @include blockSizes(340px, 52px);
      .our-friend__wrapper_controls-items {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .our-friend__wrapper_controls-items-item {
          @include blockSizes(52px, 52px);
          @include fontStyle($ffl-G, normal, 400, 20px, 115%, 0.06em, #292929);
          padding-bottom: 2px;
          padding-left: 7px;
          text-align: center;
          border: 2px solid #cdcdcd;
          color: #cdcdcd;
          cursor: auto;
          &:hover {
            cursor: auto;
            background-color: #f6f6f6;
          }
          border-radius: 50%;
          &:nth-child(3) {
            background-color: #f1cdb3;
            border: none;
            color: #292929;
          }
          &:focus {
            outline: none;
          }
        }

        .our-friend__wrapper_controls-items-item_active {
          background: #f6f6f6;
          border: 2px solid #f1cdb3;
          color: #292929;
          &:hover {
            border: none;
            cursor: pointer;
            background-color: #fddcc4;
          }
        }
      }
      @media screen and (max-width: 767px) {
        width: 300px;
      }
    }
    @media screen and (max-width: 1279px) {
      height: 1597px;
      margin-top: 60px;
    }
    @media screen and (max-width: 767px) {
      @include blockSizes(300px, 1585px);
      margin-top: 22px;
    }
  }
  @media screen and (max-width: 1279px) {
    height: 1733px;
  }
  @media screen and (max-width: 767px) {
    height: 1649px;
  }
}

footer {
  position: relative;
  top: 120px;
}
